In [18]:
#import the module
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [4]:
#create connection to database
conn = psycopg2.connect(host='localhost',
                        port='5432',
                        dbname='postgres',
                        user='postgres',
                        password='forward421q')

conn.autocommit = True

cur = conn.cursor()

In [5]:
#create table
cur.execute("""
            CREATE TABLE latihan_users_Tommy (
                id serial PRIMARY KEY,
                email text,
                name text,
                phone text,
                postalZip text
            )
            """)

In [44]:
#list all columns in table
cur.execute("""
            SELECT column_name, data_type
            FROM information_schema.columns
            WHERE table_schema = 'public' AND table_name = 'latihan_users_tommy';
            """)

columns = cur.fetchall()
for col in columns:
    print(col)

('id', 'integer')
('email', 'text')
('name', 'text')
('phone', 'text')
('postalzip', 'text')

In [12]:
#inserting data using copy_from
with open(r'C:\Users\Babatunde\Desktop\users_w_postal_code.csv') as f:
    next(f)
    cur.copy_from(f, 'latihan_users_tommy', sep=',', columns=('email', 'name', 'phone', 'postalzip'))

In [15]:
#execute the data
cur.execute('SELECT * FROM latihan_users_tommy')
users = cur.fetchall()

for row in users:
    print(row)

(1, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(2, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(3, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(4, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(5, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [40]:
#inserting data using pandas to_sql
df = pd.read_csv(r'C:\Users\Babatunde\desktop\region.csv')
engine = create_engine('postgresql://postgres:forward421q@localhost:5432/postgres')
df.to_sql("latihan_region_tommy", engine, if_exists='replace')

5

In [43]:
#execute the data
cur.execute('SELECT * FROM latihan_region_tommy')
region = cur.fetchall()
for row in region:
    print(row)

(0, 37078, 'Jakarta', 'Indonesia')
(1, 687233, 'Bandung', 'Indonesia')
(2, 2495, 'Bali', 'Indonesia')
(3, 5903, 'Semarang', 'Indonesia')
(4, 4355, 'Banten', 'Indonesia')